*{
    margin:0;
    padding:0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:black;
}


#navi{
  width: 100%;
  height: 25px;

}


nav{
    width: 100%;/
    height: 100px;
    background-color: #fff7;
    /*opacity: 0.9;*/
    line-height: 15px;

    }

nav ul{
    float: right;
    margin-right: 70px;
   
   
    
}


nav ul li{
    list-style-type: none;
    display: inline-block;
}

nav ul li:hover{
    background-color: rgba(114, 110, 110, 0.6);
    
}



nav ul li a{
    text-decoration: none;
    color: #000;
    padding: 20px;
    font-weight: bold;
    text-align: center;
}
nav img{
    margin-left: 80;
    margin-top: 0;
}
 

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    margin:0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body{
    background:url(beauty.jpg) no-repeat top center;
    width: 100%;
    height: 100%;
    background-size: cover;
    font-size: 16px;
    font-family: 'Open Sans' , sans-serif;

}

.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.contact-us{
    width: 100%;
    max-width: 450px;
    height: 450px;
    background:rgba(0,0,0,0.7);
    padding:0px 70px;
    border-radius: 12px;
}

.title{
    font-size: 2em;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    color: #2471A3 ;
    padding-bottom: 20px;
}

.input-fields{
    padding-bottom: 0 30px
}

.input-fields .items{
    width: 100%;
    padding-bottom: 10px;
}

.input-fields .items .label{
    display: block;
    font-size: 1em;
    color: #ffecb3;
    text-transform: capitalize;
    padding-bottom: 5px;
}

.input-fields .items .input,
.input-fields .item .text-area{
    background:transparent;
    border:1px solid #ffecb3;
    width: 100%;
    padding: 8px 10px;
    font-size: 1em;
    color: #ffecb3;s
    border-radius: 3px;
}

.btn{
    margin:0 30px;
    background:#154360 ;
    color:white;
    font-size: 1.25em;
    padding: 5px 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
}

.items #msg{
    height: 100px;
    background:transparent;
}

.footer,
.push{
  height: 540px;

}

h2{
  font-size: 15em;
  color:black;
  text-align: center;
  margin-top: 2vh;
  font-weight: normal;
  width: 500px;
  height: 100px;
  background-color:#000000;
  opacity:.45;
}
.footer-main-div{
    width: 100%;
    height: 120px;
    margin: 0 auto;
    background:  #fff7;
    padding: 20px 0px;
}


.footer-social-icons{
    widows: 100%;
    height: 150px;
    margin: auto;


}
.footer-social-icons ul{
    margin: -70px;
    padding: 0px;
   text-align: center;
}
.footer-social-icons ul li{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0px 10px;
    background: #33CAFF;
    border-radius: 50%;
}

.footer-social-icons ul li a{
    color: #272727;
    font-size: 25px;
}
.footer-social-icons ul li a i{
    line-height: 50px;
}


