*{
    margin:0;
    padding:0;
}
body{
    background: url(aa.jpg);
}
h1{
    font-size: 30px;
    text-align: center;
    padding: 120px;

}
p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
